<!DOCTYPE html>
<html>
<head>
  <title>Copperlamp</title>
  <meta name="keywords" content="sterling, silver, silversmith, flatware, silverplate, holloware, hollowware, teasets, china, platter, candelabra, antique, estate, appraisal, bridal registry, gift, bride, groom, presents">
<meta name="description" content="Sterling Silver and Silverplate Flatware, fine Holloware, and fine china and crystal.  We specialize in antique and new American Silver patterns. Our inventory includes over 1000 patterns, featuring the finest Sterling Silver Flatware, Silverplate, and Holloware available. Same great service since 1959.">
<meta name="Author" content="Copper Lamp">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
